<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db" force="true"/>
        <env name="API_SECRET_KEY" value="test-api-key-12345" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
